 <style>
           
          h1 {
              color: rgb(54, 0, 54) ; 
          }  
           p {
              color: rgb(255, 255, 255) ; 
          } 
          
          body {
             background-color: rgb(255, 0, 255);
          }
           
       </style>
